In [3]:
import pandas as pd
import numpy as np

In [4]:
# Series is for 1D data
d = [1,2,3,4,5]
srs = pd.Series(d)
print(srs)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
d2 = [[1,2,3,4,5],[3,4,5]]
srs = pd.Series(d2)
print(srs)

0    [1, 2, 3, 4, 5]
1          [3, 4, 5]
dtype: object

In [6]:
# different array lengths are allowed in this case
pd.DataFrame(d2)

   0  1  2    3    4
0  1  2  3  4.0  5.0
1  3  4  5  NaN  NaN

In [7]:
type(srs)

pandas.core.series.Series

In [8]:
 srs = pd.Series(d, index=['a','b','c','d','e'])

In [9]:
srs['a':'c']

a    1
b    2
c    3
dtype: int64

In [10]:
# but, varying array lengths are not allowed here
d2 = {'a':[2,4,5,6,7,8], 'b':[4,8,6]}
pd.DataFrame(d2)

ValueError: arrays must all be same length

In [11]:
d2 = {'fruit':['apple', 'mango', 'banana'], 'count':[4,8,6]}
pd.DataFrame(d2)

    fruit  count
0   apple      4
1   mango      8
2  banana      6

In [12]:
data = np.array([['a','b'], [6,12]])
df = pd.DataFrame({'A':data[:, 0], 'B':data[:, 1]})
print(df)

   A   B
0  a   b
1  6  12

In [13]:
df.rename(index={0:'a', 1:'b'}, inplace=True)
print(df)

   A   B
a  a   b
b  6  12

In [14]:
df.rename(index=str, columns={'A':'Z', 'B':'Y'}, inplace=True)
print(df)

   Z   Y
a  a   b
b  6  12

In [15]:
df.columns=['X','Y']
print(df)

   X   Y
a  a   b
b  6  12

In [16]:
data2 = {"player":['Sahitya', 'Anmol', 'Shivam'], "power":["Fooseball", "Mini Militia", "PUBG"], "type":["Table","Virtual", "Virtual"]}
df2 = pd.DataFrame(data2)
print(df2)

    player         power     type
0  Sahitya     Fooseball    Table
1    Anmol  Mini Militia  Virtual
2   Shivam          PUBG  Virtual

In [17]:
data3 = {"player":['Sahitya', 'Shivam', 'Anmol'], "strength":["Fooseball", "PUBG", "Mini Militia"], "title":["Table", "Virtual","Virtual"]}
df3 = pd.DataFrame(data3)
print(df3)
data4 = {"player":['Sahitya', 'Anmol', 'Peeyush'], "strength":["Fooseball", "Mini Militia", "PUBG"], "title":["Best","Average", "Best"]}
df4 = pd.DataFrame(data4)
print(df4)

    player      strength    title
0  Sahitya     Fooseball    Table
1   Shivam          PUBG  Virtual
2    Anmol  Mini Militia  Virtual
    player      strength    title
0  Sahitya     Fooseball     Best
1    Anmol  Mini Militia  Average
2  Peeyush          PUBG     Best

In [18]:
# Outer Join
pd.concat([df2, df3])

    player         power     type      strength    title
0  Sahitya     Fooseball    Table           NaN      NaN
1    Anmol  Mini Militia  Virtual           NaN      NaN
2   Shivam          PUBG  Virtual           NaN      NaN
0  Sahitya           NaN      NaN     Fooseball    Table
1   Shivam           NaN      NaN          PUBG  Virtual
2    Anmol           NaN      NaN  Mini Militia  Virtual

In [19]:
# Inner Join
pd.concat([df2, df3], axis=0, join="inner")

    player
0  Sahitya
1    Anmol
2   Shivam
0  Sahitya
1   Shivam
2    Anmol

In [20]:
# Inner Join
# 0 - row wise
# 1 - column wise
pd.concat([df2, df4], axis=1, join="inner")

    player         power     type   player      strength    title
0  Sahitya     Fooseball    Table  Sahitya     Fooseball     Best
1    Anmol  Mini Militia  Virtual    Anmol  Mini Militia  Average
2   Shivam          PUBG  Virtual  Peeyush          PUBG     Best

In [21]:
pd.merge(df2, df4, on=['player'], how='inner')

    player         power     type      strength    title
0  Sahitya     Fooseball    Table     Fooseball     Best
1    Anmol  Mini Militia  Virtual  Mini Militia  Average

In [22]:
pd.merge(df2, df4, how='right')

    player         power     type      strength    title
0  Sahitya     Fooseball    Table     Fooseball     Best
1    Anmol  Mini Militia  Virtual  Mini Militia  Average
2  Peeyush           NaN      NaN          PUBG     Best

In [23]:
pd.merge(df2, df4, how='left')

    player         power     type      strength    title
0  Sahitya     Fooseball    Table     Fooseball     Best
1    Anmol  Mini Militia  Virtual  Mini Militia  Average
2   Shivam          PUBG  Virtual           NaN      NaN

In [24]:
pd.merge(df2, df4, how='outer')

    player         power     type      strength    title
0  Sahitya     Fooseball    Table     Fooseball     Best
1    Anmol  Mini Militia  Virtual  Mini Militia  Average
2   Shivam          PUBG  Virtual           NaN      NaN
3  Peeyush           NaN      NaN          PUBG     Best

In [30]:
# Quiz
one = ['one', '1', 'one1']
a = ['A', 'a', 'Aa']
df1 = pd.DataFrame({'one':one, 'a':a})
df1 = df1[['one','a']]
a = ['A', 'a', 'Aa']
b = ['B', 'b', 'Bb']
df2 = pd.DataFrame({'a':a, 'b':b})
df2 = df2[['a','b']]
df1.merge(df2, on='a', how='inner')

    one   a   b
0   one   A   B
1     1   a   b
2  one1  Aa  Bb