In [1]:
import pandas as pd
import numpy as np

In [3]:
data = np.array([['a','b'], [6,12]])
df = pd.DataFrame({'A':data[:, 0], 'B':data[:, 1]})
print(df)

   A   B
0  a   b
1  6  12

In [ ]:
df.rename(index={0:'a', 1:'b'}, inplace=True)
print(df)

In [ ]:
df.rename(index=str, columns={'A':'Z', 'B':'Y'}, inplace=True)
print(df)

In [ ]:
df.columns=['X','Y']
print(df)

In [ ]:
data2 = {"player":['Sahitya', 'Anmol', 'Shivam'], "power":["Fooseball", "Mini Militia", "PUBG"], "type":["Table","Virtual", "Virtual"]}
df2 = pd.DataFrame(data2)
print(df2)

In [ ]:
data3 = {"player":['Sahitya', 'Shivam', 'Anmol'], "strength":["Fooseball", "PUBG", "Mini Militia"], "title":["Table", "Virtual","Virtual"]}
df3 = pd.DataFrame(data3)
print(df3)
data4 = {"player":['Sahitya', 'Anmol', 'Peeyush'], "strength":["Fooseball", "Mini Militia", "PUBG"], "title":["Best","Average", "Best"]}
df4 = pd.DataFrame(data4)
print(df4)

In [ ]:
# Outer Join
pd.concat([df2, df3])

In [ ]:
# Inner Join
pd.concat([df2, df3], axis=0, join="inner")

In [ ]:
# Inner Join
pd.concat([df2, df4], axis=1, join="inner")

In [ ]:
pd.merge(df2, df4, on=['player'], how='inner')

In [ ]:
pd.merge(df2, df4, how='right')

In [ ]:
pd.merge(df2, df4, how='left')

   A   B
a  a   b
b  6  12

In [7]:
df.rename(index=str, columns={'A':'Z', 'B':'Y'}, inplace=True)
print(df)

   Z   Y
a  a   b
b  6  12

In [8]:
df.columns=['X','Y']
print(df)

   X   Y
a  a   b
b  6  12

In [10]:
data2 = {"player":['Sahitya', 'Anmol', 'Shivam'], "power":["Fooseball", "Mini Militia", "PUBG"], "type":["Table","Virtual", "Virtual"]}
df2 = pd.DataFrame(data2)
print(df2)

    player         power     type
0  Sahitya     Fooseball    Table
1    Anmol  Mini Militia  Virtual
2   Shivam          PUBG  Virtual

In [25]:
data3 = {"player":['Sahitya', 'Shivam', 'Anmol'], "strength":["Fooseball", "PUBG", "Mini Militia"], "title":["Table", "Virtual","Virtual"]}
df3 = pd.DataFrame(data3)
print(df3)
data4 = {"player":['Sahitya', 'Anmol', 'Peeyush'], "strength":["Fooseball", "Mini Militia", "PUBG"], "title":["Best","Average", "Best"]}
df4 = pd.DataFrame(data4)
print(df4)

    player      strength    title
0  Sahitya     Fooseball    Table
1   Shivam          PUBG  Virtual
2    Anmol  Mini Militia  Virtual
    player      strength    title
0  Sahitya     Fooseball     Best
1    Anmol  Mini Militia  Average
2  Peeyush          PUBG     Best

In [26]:
# Outer Join
pd.concat([df2, df3])

    player         power     type      strength    title
0  Sahitya     Fooseball    Table           NaN      NaN
1    Anmol  Mini Militia  Virtual           NaN      NaN
2   Shivam          PUBG  Virtual           NaN      NaN
0  Sahitya           NaN      NaN     Fooseball    Table
1   Shivam           NaN      NaN          PUBG  Virtual
2    Anmol           NaN      NaN  Mini Militia  Virtual

In [27]:
# Inner Join
pd.concat([df2, df3], axis=0, join="inner")

    player
0  Sahitya
1    Anmol
2   Shivam
0  Sahitya
1   Shivam
2    Anmol

In [28]:
# Inner Join
pd.concat([df2, df4], axis=1, join="inner")

    player         power     type   player      strength    title
0  Sahitya     Fooseball    Table  Sahitya     Fooseball     Best
1    Anmol  Mini Militia  Virtual    Anmol  Mini Militia  Average
2   Shivam          PUBG  Virtual  Peeyush          PUBG     Best

In [29]:
pd.merge(df2, df4, on=['player'], how='inner')

    player         power     type      strength    title
0  Sahitya     Fooseball    Table     Fooseball     Best
1    Anmol  Mini Militia  Virtual  Mini Militia  Average

In [30]:
pd.merge(df2, df4, how='right')

    player         power     type      strength    title
0  Sahitya     Fooseball    Table     Fooseball     Best
1    Anmol  Mini Militia  Virtual  Mini Militia  Average
2  Peeyush           NaN      NaN          PUBG     Best

In [31]:
pd.merge(df2, df4, how='left')

    player         power     type      strength    title
0  Sahitya     Fooseball    Table     Fooseball     Best
1    Anmol  Mini Militia  Virtual  Mini Militia  Average
2   Shivam          PUBG  Virtual           NaN      NaN