In [16]:
# regression - technique of finding relationship between two or more variables.
# lesser the value of r^2(goodness of fit) greater is the error.
# (1 - (SEline/ SEy_mean)) = r^2 = Goodness of fit | least square error method

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [17]:
data = pd.read_csv('res/boston_housing_data.csv')
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [18]:
x = pd.DataFrame(data.iloc[:,:-1])
y = pd.DataFrame(data.iloc[:,-1])

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=5)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(404, 13)
(102, 13)
(404, 1)
(102, 1)

In [20]:
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
# coefficient for each attribute
y_pred = regressor.predict(x_test)
v = pd.DataFrame(regressor.coef_, index=['Co-efficients']).transpose()
v

    Co-efficients
0       -0.130800
1        0.049403
2        0.001095
3        2.705366
4      -15.957050
5        3.413973
6        0.001119
7       -1.493081
8        0.364422
9       -0.013172
10      -0.952370
11       0.011749
12      -0.594076

In [22]:
w = pd.DataFrame(x.columns, columns=['Attribute'])
w

   Attribute
0       crim
1         zn
2      indus
3       chas
4        nox
5         rm
6        age
7        dis
8        rad
9        tax
10   ptratio
11         b
12     lstat